.movie-card {
  width:33%;
  max-width: 30%;

}

.movie-poster {
  height:500px;
}

.center-text {
  display:flex;
  justify-content: center;
    align-items: center;
}

.movies-list {
  flex-wrap: wrap;
}

.action-button {
  margin: 5px;
}
