div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  height:500px;
}

.movie-card {
  max-width: 500px;
  margin-right: 20px;
  width:40%;
  max-width: 40%;
}

.center-text {
  display:flex;
  justify-content: center;
  align-items: center;
}

.movies-list {
  flex-wrap: wrap;
}

.action-button {
  margin: 5px;
}
